:host {
  display: block;
}
header {
  display: flex;
  height: 50px;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px 0 24px;
  font-weight: bold;
  font-size: 18px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  margin-left: auto;
}
.right-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
}
.right-btn:hover {
  background-color: var(--aside-hover-bg);
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.menu-btn:hover {
  background-color: var(--aside-hover-bg);
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all ease 0.3s;
}
.mask .pannel {
  width: 280px;
  height: 100%;
  background-color: var(--header-bg-color);
  transition: all ease 0.2s;
  overflow: hidden;
}
.mask .inner-pannel {
  width: 280px;
  height: 100%;
  overflow-y: auto;
}
.mask .logo {
  height: 50px;
}
.mask.hide {
  pointer-events: none;
  background-color: transparent;
}
.mask.hide .pannel {
  width: 0px;
}
@media screen and (min-width: 800px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .main {
    display: none;
  }
  .logo {
    padding-left: 12px;
  }
  .right {
    padding-right: 0;
  }
}
