.main-size {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 16px;
}

@media screen and (max-width: 600px) {
  .hide-phone {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .hide-pc {
    display: none;
  }
}

[cover-loading] {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--md-sys-color-on-normal);
}

[cover-loading].fadeout {
  animation: fadeout ease 0.3s;
  animation-fill-mode: forwards;
}

[cover-loading]:before {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid var(--md-sys-color-primary-container);
  border-top: 4px solid var(--md-sys-color-primary);
  animation: loading-spin 1s infinite linear;
  content: "";
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
