<template page>
  <l-m src="../comps/article-container.html"></l-m>
  <l-m src="../comps/doc-aside.html"></l-m>
  <l-m src="../comps/article-nav/article-nav.html"></l-m>
  <l-m src="../comps/exm-article.html"></l-m>
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }

    .left-container {
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;
      max-height: calc(100vh - 60px);
      overflow-y: auto;
      color: var(--aside-color);
    }

    .left-container:before {
      content: "";
      display: block;
      height: 10px;
      width: 100%;
    }
  </style>

  <article-container attr:hide-right="hideRight ? '' : null">
    <div slot="aside" class="left-container">
      <doc-aside :active-href="leftActiveUrl"> </doc-aside>
    </div>
    <div style="padding: 0 24px 0; position: relative">
      <slot></slot>
    </div>
    <article-nav slot="right-aside">
      <ul>
        <x-fill :value="rightNavs">
          <li
            class:invis="$host.visNavs.includes($data.id)"
            class:active="$data.active"
            attr:type="$data.type"
          >
            <a attr:href="$data.href">{{$data.name}}</a>
          </li>
        </x-fill>
      </ul>
    </article-nav>
  </article-container>
  <script>
    import { leftNavsData, configData } from "../data.mjs";

    export const parent = "./header-layout.html";

    function countMatchingChars(str1, str2) {
      let count = 0;
      const length = Math.min(str1.length, str2.length);

      for (let i = 0; i < length; i++) {
        if (str1.charAt(i) === str2.charAt(i)) {
          count++;
        } else {
          break;
        }
      }

      return count;
    }

    export default {
      data: {
        leftActiveUrl: "",
        rightNavs: [],
        // 正文内可视的导航标题
        visNavs: [],
        hideRight: false,
      },
      proto: {
        async refreshLeft() {
          this.leftActiveUrl = `${location.origin}${location.pathname}`;

          const { navs } = await configData;

          let target;
          let maxCount = 0;

          // 必须只有一个最大匹配数时，才激活显示的nav
          navs.forEach((e) => {
            const mathsCount = countMatchingChars(location.href, e.href);

            if (mathsCount > maxCount) {
              maxCount = mathsCount;
              target = e;
            }
          });

          setTimeout(() => {
            const afooter = this.app?.current?.shadow?.$("article-footer");

            if (afooter) {
              afooter.init(this._nowBase.articles);
            }
          }, 100);

          if (!target) {
            this._nowBase = [];
            leftNavsData.length = 0;
            return;
          }

          if (target !== this._nowBase) {
            this._nowBase = target;

            // 更新导航数据
            leftNavsData.length = 0;
            leftNavsData.push(...target.articles);
          }
        },
        get article() {
          return this.slice(-1)[0]?.shadow?.$("article");
        },
        refreshRightNav() {
          const { article } = this;

          if (article.$("template[is]")) {
            this.hideRight = true;
            return;
          } else {
            this.hideRight = false;
          }

          let count = 0;
          let beforeTitle = "";

          article.forEach((childEl) => {
            if (["h1", "h2", "h3", "h4", "j5"].includes(childEl.tag)) {
              beforeTitle = childEl.text.trim() + `-title${count}`;
              count++;
            }

            childEl.data.sutitle = replaceSpecialCharacters(beforeTitle);
          });

          const titles = article.all("h1,h2,h3,h4,h5");

          this.rightNavs = titles.map((e, index) => {
            const id = `${replaceSpecialCharacters(
              e.text.trim()
            )}-title${index}`;

            e.html = `<a class="anchor" href="#${id}"><span class="octicon-link"></span> </a>${e.text}`;

            e.attr("id", id);

            return {
              id,
              type: e.tag.toLowerCase(),
              name: e.text.trim(),
              href: "#" + id,
            };
          });

          if (this._oldIO) {
            this._oldIO.disconnect();
          }

          const visibles = [];

          let timer;

          const refreshRightActive = () => {
            const shows = new Set();
            visibles.forEach((e) => {
              shows.add(e.dataset.sutitle);
            });

            this.visNavs = Array.from(shows);

            let hasActive;
            this.rightNavs.forEach((e) => {
              e.active = null;
              if (hasActive) {
                return;
              }

              if (shows.has(e.id)) {
                e.active = 1;
                hasActive = 1;
              }
            });

            this.shadow.$("article-nav")?.focusScroll &&
              this.shadow.$("article-nav").focusScroll();
          };

          const observer = (this._oldIO = new IntersectionObserver(
            (entries, observer) => {
              for (const entry of entries) {
                if (entry.isIntersecting) {
                  visibles.push(entry.target);
                } else {
                  const id = visibles.indexOf(entry.target);
                  if (id > -1) {
                    visibles.splice(id, 1);
                  }
                }
              }

              if (timer) {
                return;
              }

              timer = setTimeout(() => {
                refreshRightActive();
                timer = null;
              }, 50);
            }
          ));

          article.forEach((e) => {
            observer.observe(e.ele, {});
          });
        },
        hashChange() {
          const hash = decodeURIComponent(location.hash);

          if (hash) {
            const target = this[0].shadow.$(hash);
            if (target) {
              target.ele.scrollIntoView();
            }
          } else {
            $("#header-layout").shadow.$("doc-container").scrollTop = 0;
          }
        },
      },
      attached() {
        this.refreshLeft();
        this.refreshRightNav();

        window.addEventListener(
          "hashchange",
          (this.__hash_fun = () => this.hashChange())
        );

        setTimeout(() => this.hashChange(), 100);
      },
      detached() {
        window.removeEventListener("hashchange", this.__hash_fun);
      },
      routerChange() {
        this.refreshLeft();
        this.refreshRightNav();
      },
    };
    function replaceSpecialCharacters(str) {
      const specialCharacters = /[\s!@#$%^&*()\-\+=\[\]{}|\\/,.;'"<>?]/g;
      return str.replace(specialCharacters, "-");
    }
  </script>
</template>
