@font-face {
  font-family: "iconfont"; /* Project id 4230638 */
  src: url('iconfont.woff2?t=1696588112375') format('woff2'),
       url('iconfont.woff?t=1696588112375') format('woff'),
       url('iconfont.ttf?t=1696588112375') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e84f";
}

.icon-qiehuanyuyan:before {
  content: "\e769";
}

.icon-31shoucang:before {
  content: "\e602";
}

.icon-shoucang:before {
  content: "\e8c2";
}

.icon-jiazailoading-A:before {
  content: "\e8fc";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-lishijilu:before {
  content: "\eaf7";
}

.icon-search:before {
  content: "\e82e";
}

.icon-shuaxin:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-newtab:before {
  content: "\e7cb";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-caidan:before {
  content: "\e605";
}

.icon-heiyemoshi:before {
  content: "\e68f";
}

.icon-baitianmoshi:before {
  content: "\e690";
}

