@import url("slim_scroll.css");
.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.hide_leftnav_btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.left_nav {
  position: relative;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  color: #333;
  overflow: hidden;
  transition: all ease 0.3s;
}
.left_nav .leftNavCon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.left_nav .resize_bar {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  z-index: 2;
}
.book_title {
  position: relative;
  margin: 16px 14px;
  padding: 0;
  font-size: 18px;
  transition: all ease 0.3s;
}
.book_title:hover .back_tips {
  height: 21px;
  opacity: 1;
}
.book_title .back_tips {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  height: 0;
  line-height: 21px;
  color: #fff;
  font-size: 12px;
  background-color: var(--default-primary-color);
  opacity: 0;
  transition: all ease 0.3s;
}
.book_title.active_title {
  color: var(--default-primary-color);
  font-size: 19px;
}
.book_title.active_title .back_tips {
  display: none;
}
.right_con {
  position: relative;
  flex: 1;
}
.article_top {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 5px;
}
.article_top .top_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.article_top .top_btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.article_con {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
}
.left_nav_item[type="title"] {
  margin: 10px 15px;
  font-size: 12px;
  color: #aaa;
}
.left_nav_item[type="item"] .name {
  position: relative;
  padding: 3px 0 3px 16px;
  margin: 5px;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.left_nav_item[type="item"] .name .name_mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
}
.left_nav_item[type="item"] .name .name_mark:before {
  display: block;
  width: 100%;
  height: 0;
  background-color: #aaa;
  transition: all ease 0.3s;
  content: "";
}
.left_nav_item[type="item"][data-path=""] .name {
  opacity: 0.7;
  cursor: not-allowed;
}
.left_nav_item[type="item"]:not([data-path=""]) > .name:hover {
  background-color: #fafafa;
}
.left_nav_item[type="item"]:not([data-path=""]) > .name:hover .name_mark:before {
  height: 80%;
}
.left_nav_item[type="item"]:not([data-path=""]).active > .name:hover .name_mark:before {
  height: 100%;
}
.left_nav_item.active > .name {
  font-weight: bold;
  color: var(--default-primary-color);
}
.left_nav_item.active > .name .name_mark:before {
  height: 70%;
  background-color: var(--default-primary-color);
}
.left_nav_item .child {
  margin-left: 20px;
}
.right_quick_nav {
  position: absolute;
  right: 100px;
  top: 100px;
  padding: 10px 20px;
  max-width: 230px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 5px;
  z-index: 2;
}
.right_quick_nav .nav_block {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.4em;
  cursor: pointer;
}
.right_quick_nav .nav_block:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .hide_leftnav_btn {
    display: flex;
  }
  .left_nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 3;
  }
  .left_nav_item[type="item"] .name {
    font-size: 16px;
  }
}
