@import url("./slim_scroll.css");

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.hide_leftnav_btn {
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.left_nav {
    position: relative;
    // width: 300px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 8px;
    color: #333;
    overflow: hidden;
    transition: all ease .3s;

    .leftNavCon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .resize_bar {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 100%;
        cursor: ew-resize;
        z-index: 2;
    }
}

.book_title {
    position: relative;
    margin: 16px 14px;
    padding: 0;
    font-size: 18px;
    transition: all ease .3s;

    &:hover {
        .back_tips {
            height: 21px;
            opacity: 1;
        }
    }

    .back_tips {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0 5px;
        height: 0;
        line-height: 21px;
        color: #fff;
        font-size: 12px;
        background-color: var(--default-primary-color);
        opacity: 0;
        transition: all ease .3s;
    }

    &.active_title {
        color: var(--default-primary-color);
        font-size: 19px;

        .back_tips {
            display: none;
        }
    }
}

.right_con {
    position: relative;
    flex: 1;
}

// 右侧正文顶部高度
@article_top: 40px;

.article_top {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: @article_top;
    box-shadow: rgba(0, 0, 0, .05) 0 3px 5px;

    .top_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, .03);
        }
    }
}

.article_con {
    position: absolute;
    left: 0;
    top: @article_top;
    width: 100%;
    height: calc(100% - @article_top);
    overflow: hidden;
}

.left_nav_item {
    &[type="title"] {
        margin: 10px 15px;
        font-size: 12px;
        color: #aaa;
    }

    &[type="item"] {
        .name {
            position: relative;
            padding: 3px 0 3px 16px;
            margin: 5px;
            border-radius: 3px;
            font-size: 13px;
            cursor: pointer;
            transition: all ease .5s;

            .name_mark {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;

                &:before {
                    display: block;
                    width: 100%;
                    height: 0;
                    // background-color: var(--default-primary-color);
                    background-color: #aaa;
                    transition: all ease .3s;
                    content: "";
                }
            }
        }

        &[data-path=""] {
            .name {
                opacity: .7;
                cursor: not-allowed;
            }
        }

        &:not([data-path=""]) {
            >.name {
                &:hover {
                    background-color: #fafafa;

                    .name_mark {
                        &:before {
                            // height: 100%;
                            height: 80%;
                        }
                    }
                }
            }


            &.active {
                >.name {
                    &:hover {
                        .name_mark {
                            &:before {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    &.active {
        >.name {
            font-weight: bold;
            color: var(--default-primary-color);

            .name_mark {
                &:before {
                    height: 70%;
                    background-color: var(--default-primary-color);
                }
            }
        }
    }

    .child {
        margin-left: 20px;
    }
}

.right_quick_nav {
    position: absolute;
    right: 100px;
    top: 100px;
    padding: 10px 20px;
    max-width: 230px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: rgba(0, 0, 0, .03) 0 0 5px;
    z-index: 2;

    .nav_block {
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.4em;

        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 600px) {
    .hide_leftnav_btn {
        display: flex;
    }

    .left_nav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, .95);
        z-index: 3;
    }

    .left_nav_item[type="item"] .name {
        font-size: 16px;
    }
}