:host {
  display: block;
  padding: 16px;
  height: 100%;
  background-color: #f4f4f4;
  color: #1a1d1f;
  overflow-y: auto;
}
.pannel {
  margin: 0 16px 16px 0;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.nav-item {
  margin: 0 16px 16px 0;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
}
.nav-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-item ul li {
  margin: 4px 0 4px 24px;
}
.nav-item ul li a {
  color: inherit;
}
.nav-item ul li a[href] {
  color: #2e81ad;
}
.nav-title {
  font-weight: bold;
}
