/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #1e1e1e;
    color: #fff
}

.hljs-comment {
    color: #888
}

.hljs-punctuation,
.hljs-tag {
    color: #888
}

.hljs-attr {
    color: #9cdcfe;
}

.hljs-tag .hljs-name {
    color: #569bd5;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-selector-tag {
    color: #569bd5;
    font-weight: 700
}

.hljs-selector-class{
    color: #d7ba7d;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #bf8771
}

.hljs-section,
.hljs-title {
    color: #800;
    font-weight: 700
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #d4b87c;
}

.hljs-literal {
    color: #78a960
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #397300
}

.hljs-meta {
    color: #1f7199
}

.hljs-meta .hljs-string {
    color: #4d99bf
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}