<template page>
  <style>
    .container {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .left {
      width: 200px;
      border-right: #aaa solid 1px;
    }
    .block {
      display: flex;
      align-items: center;
      height: 36px;
      box-sizing: border-box;
      padding-left: 16px;
      font-size: 14px;
      border-bottom: #ddd solid 1px;
      color: #666;
    }
    .block.active {
      color: #1284b9;
    }
    .main {
      position: relative;
      flex: 1;
    }
    .inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  </style>
  <div class="container">
    <div class="left">
      <div class="block" class:active="current === 'home.html'">首页</div>
      <div class="block" class:active="current === 'debris-fixer.html'" on:click="goto('../pages/debris-fixer.html')">
        修正碎片
      </div>
    </div>
    <div class="main">
      <div class="inner">
        <slot></slot>
      </div>
    </div>
  </div>
  <script>
    export default {
      data: {
        current: "",
      },
      proto: {
        refresh() {
          if (this.app) {
            this.current = this.app.current.src.replace(/.+\/(.+)/, "$1");
          }
        },
      },
      ready() {
        this.refresh();
      },
      routerChange() {
        this.refresh();
      },
    };
  </script>
</template>
